<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <machineKey validationKey="A3BCEE04BE704C814BBAC511F2F1F8DB9061163AA43AD0197466F7A3AE272D2D27663A195DEBF17D0C3EC27B2D28E991BAEF484F67E43956C4C33EE01CCCADCC" decryptionKey="C71796823FFCC93B996A4C199D0A9D48366A629026A7C8BD" validation="SHA1"/>
  </system.web>
  <connectionStrings>
    <add name="mrtAlb1" connectionString="Data Source=localhost;Initial Catalog=cizgi;User ID=sa;Password=123456789; MultipleActiveResultSets=True; Pooling=false;" providerName="System.Data.SqlClient"/>
    <add name="mrtAlb2" connectionString="Data Source=localhost;Initial Catalog=cizgi;User ID=sa;Password=123456789; MultipleActiveResultSets=True; Pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IArasCargoIntegrationService"/>
        <binding name="ServiceSoap"/>
        <binding name="ServiceSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="ServiceSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://customerservices.araskargo.com.tr/ArasCargoCustomerIntegrationService/ArasCargoIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArasCargoIntegrationService" contract="arasKargoRef.IArasCargoIntegrationService" name="BasicHttpBinding_IArasCargoIntegrationService"/>
      <endpoint address="http://customerws.araskargo.com.tr/arascargoservice.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="arasSetOrderService.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://customerservicestest.araskargo.com.tr/arascargoservice/arascargoservice.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap1" contract="srTest.ServiceSoap" name="ServiceSoap1"/>
    </client>
  </system.serviceModel>
</configuration>